<div class="container-fluid bottom-padding">
    <div class="top-padding form-group">
        <label for="widget-edit-name" class="form-control-label">Name</label>
        <input ng-model="model.widget.name"
               id="widget-edit-name"
               class="form-control"
               type="text"
               placeholder="Header Name">
    </div>
    <div class="form-group">
        <label for="widget-edit-text" class="form-control-label">Text</label>
        <input ng-model="model.widget.text"
               id="widget-edit-text"
               class="form-control"
               type="text"
               placeholder="Header text">
    </div>
    <div class="form-group">
        <label for="widget-edit-size" class="form-control-label">Size</label>
        <input ng-model="model.widget.size"
               id="widget-edit-size"
               class="form-control"
               type="text"
               placeholder="Header size">
    </div>
    <a ng-click="model.deleteWidget()" class="btn btn-danger form-control">Delete</a>
</div>