<div class="container-fluid bottom-padding">

    <div class="top-padding">
        <div ng-show="model.nameError" class="alert alert-danger">
            Please fix below errors:
            <ul>
                <li ng-show="model.nameError">Name is required</li>
            </ul>
        </div>
        <label for="widget-edit-name" class="form-control-label">Name</label>
        <input ng-model="model.widget.name"
               id="widget-edit-name"
               class="form-control"
               type="text"
               placeholder="Heading Name">
        <div ng-show="model.nameError" class="alert alert-danger">
            {{model.nameError}}
        </div>
    </div>
    <div class="form-group">
        <label for="widget-edit-text" class="form-control-label">Text</label>
        <input ng-model="model.widget.text"
               id="widget-edit-text"
               class="form-control"
               type="text"
               placeholder="Heading text">
    </div>
    <div class="form-group">
        <label for="widget-heading-widget-size">Size</label>
        <select class="form-control"
                ng-model="model.widget.size"
                id="widget-heading-widget-size">
            <option >1</option>
            <option >2</option>
            <option >3</option>
            <option >4</option>
            <option >5</option>
            <option >6</option>
        </select>
    </div>
    <a ng-click="model.deleteWidget()" class="btn btn-danger form-control">Delete</a>
</div>
</div>