<div class="container-fluid">
    <div class="top-padding form-group">
        <label for="widget-image-name" class="form-control-label">Name</label>
        <input ng-model="model.widget.name"
               id="widget-image-name"
               class="form-control"
               type="text"
               placeholder="Video Name">
    </div>
    <div class="form-group">
        <label for="widget-youtube-text" class="form-control-label">Text</label>
        <input ng-model="model.widget.text"
               id="widget-youtube-text"
               class="form-control"
               type="text"
               placeholder="Youtube Text"></input>
    </div>
    <div class="form-group">
        <label for="widget-youtube-url" class="form-control-label">URL</label>
        <input ng-model="model.widget.url"
               id="widget-youtube-url"
               class="form-control"
               type="text"
               placeholder="Youtube URL">
    </div>
    <div class="form-group">
        <label for="widget-youtube-width" class="form-control-label">Width</label>
        <input ng-model="model.widget.width"
               id="widget-youtube-width"
               class="form-control"
               type="text"
               placeholder="Youtube video Width"></input>
    </div>

    <div class="bottom-padding">
        <a ng-click="model.deleteWidget()" class=" btn btn-danger form-control">Delete</a>
    </div>
</div>