<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <label>Websites</label>
        </a>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
      <div ng-repeat="website in model.websites">
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
              <span class="glyphicon glyphicon-cog">
              </span>
            </a>
        </li>
      </div>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>