<nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../website/website-list.view.client.html" class="white_navbar navbar-link">
                  <span class="grey-nav glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <label class="grey-nav">Pages</label>
        </a>
        <div class="navbar-text pull-right">
            <a href="page-new.view.client.html" class="navbar-link">
                  <span class="grey-nav glyphicon glyphicon-plus">
                  </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Blog Post
            </a>
            <a href="page-edit.view.client.html" class="page-link pull-right">
                  <span class="glyphicon glyphicon-cog">
                  </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Blogs
            </a>
            <a href="page-edit.view.client.html" class="page-link pull-right">
                  <span class="glyphicon glyphicon-cog">
                  </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Home
            </a>
            <a href="page-edit.view.client.html" class="page-link pull-right">
                  <span class="glyphicon glyphicon-cog">
                  </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                About
            </a>
            <a href="page-edit.view.client.html" class="page-link pull-right">
                  <span class="glyphicon glyphicon-cog">
                  </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Contact us
            </a>
            <a href="page-edit.view.client.html" class="page-link pull-right">
                  <span class="glyphicon glyphicon-cog">
                  </span>
            </a>
        </li>
    </ul>
</div>


<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="blue-nav glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
