<nav class="navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="page-list.view.client.html" class="white_navbar navbar-link">
					  <span class="grey-nav glyphicon glyphicon-chevron-left">
					  </span>
                </a>
            </div>
            <a class="navbar-brand" href="#">
                <label class="grey-nav">Pages</label>
            </a>
            <div class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
					  <span class="grey-nav glyphicon glyphicon-plus">
					  </span>
                </a>
            </div>
        </div>

        <div class="col-sm-8 hidden-xs">
            <a class="navbar-brand" href="#">
                <label class="grey-nav">Edit Page</label>
            </a>

            <div class="navbar-text pull-right">
                <a href="page-list.view.client.html" class="navbar-link">
					  <span class="grey-nav glyphicon glyphicon-ok">
					  </span>
                </a>
            </div>
        </div>

        <div class="col-xs-12 visible-xs">
            <div class="navbar-text pull-left">
                <a href="page-list.view.client.html" class="white_navbar navbar-link">
					  <span class="grey-nav glyphicon glyphicon-chevron-left">
					  </span>
                </a>
            </div>
            <a class="navbar-brand" href="#">
                <label class="grey-nav">Edit Page</label>
            </a>
            <div class="navbar-text pull-right">
                <a href="page-list.view.client.html" class="navbar-link">
					  <span class="grey-nav glyphicon glyphicon-ok">
					  </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Blog Post
                </a>
                <a href="page-edit.view.client.html" class="page-link pull-right">
					  <span class="glyphicon glyphicon-cog">
					  </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Blogs
                </a>
                <a href="page-edit.view.client.html" class="page-link pull-right">
					  <span class="glyphicon glyphicon-cog">
					  </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Home
                </a>
                <a href="page-edit.view.client.html" class="page-link pull-right">
					  <span class="glyphicon glyphicon-cog">
					  </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    About
                </a>
                <a href="page-edit.view.client.html" class="page-link pull-right">
					  <span class="glyphicon glyphicon-cog">
					  </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Contact us
                </a>
                <a href="page-edit.view.client.html" class="page-link pull-right">
					  <span class="glyphicon glyphicon-cog">
					  </span>
                </a>
            </li>
        </ul>
    </div>


    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <div class="newNAme form-group">
            <label for="page-edit-web-name" class="form-control-label">Name</label>
            <input ng-model="model.page.name"
                   placeholder="Page Name"
                   id="page-edit-web-name"
                   class="form-control"
                   type="text"
                   value="Blog Post">
        </div>
        <div class="form-group">
            <label for="page-edit-web-title" class="form-control-label">Title</label>
            <input ng-model="model.widget.title"
                   placeholder="Page Title"
                   id="page-edit-web-title"
                   class="form-control"
                   type="text"></input>
        </div>
        <a href="page-list.view.client.html" class="btn btn-danger form-control">Delete</a>
    </div>

</div>


<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="blue-nav glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>