<nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html" class="white_navbar navbar-link">
                  <span class="grey-nav glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <label class="grey-nav">Choose Widget</label>
        </a>
    </div>
</nav>
<div class="container-fluid bottom-padding">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html">Header</a>
        </li>
        <li class="list-group-item">
            <a href="#">Lable</a>
        </li>
        <li class="list-group-item">
            <a href="#">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="#">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="#">Link</a>
        </li>
        <li class="list-group-item">
            <a href="#">Button</a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html">Image</a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html">YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="#">Repeater</a>
        </li>

    </ul>
</div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="blue-nav glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>