<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="white_navbar navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand">
            <label>Widget Edit</label>
        </a>
        <div class="navbar-text pull-right">
            <a href="" ng-click="model.updateWid(model.widget)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid" ng-switch="model.widget.type">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/templates/editors/widget-header.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/editors/widget-image.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/editors/widget-youtube.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/templates/editors/widget-text.view.client.html'"></ng-include>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>