<nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../views/page/page-list.view.client.html" class="white_navbar navbar-link">
                  <span class="grey-nav glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <label class="grey-nav">Widgets</label>
        </a>
        <div class="navbar-text pull-right">
            <a href="widget-choose.view.client.html" class="navbar-link">
                  <span class="grey-nav glyphicon glyphicon-plus">
                  </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-repeat="widget in model.widgets">
        <div class="jga-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div>
        <div class="jga-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>

    <div>
        <div class="jga-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Congress Ends Spat, Agrees To Fund $1.1 Billion To Combat Zika</h3>
    </div>
    <div>
        <div class="jga-toolbar">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <img width="100%" src="http://media.npr.org/assets/img/2016/09/28/mosquitos_wide-76ba2518aba3ad2877dd9c2479b764f0eaf8ab0e-s1600-c85.jpg">
    </div>

    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <p>After nearly seven months of bickering and finger-pointing, Congress on Wednesday agreed to allocate $1.1 billion to help fight the spread and effects of the Zika virus.

            The deal is part of a broader agreement to continue to fund the government after the fiscal year ends on Friday and the current budget expires.</p>
        <div>
            <div class="jga-toolbar">
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <h3>White House To US Diplomats Against Travel Ban: 'Get With The Program Or Go'</h3>
        </div>

        <div>
            <div class="jga-toolbar">
                <a href="widget-youtube.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/SB35ikvGNgM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
            <div class="jga-toolbar">
                <a>
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <p>The White House clashed Monday with a large group of American diplomats who are voicing dissent with Donald Trump's temporary travel ban on citizens from seven Muslim majority countries, challenging them to resign if they aren't on board.</p>
        </div>

    </div>
</div>


<div class="bottom-padding"></div>

</div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#" class="navbar-link">
                <span class="grey-nav glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div class="navbar-text pull-left">
            <a href="#" class="navbar-link">
                <span class="grey-nav glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="blue-nav glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>