<nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../views/page/page-list.view.client.html" class="white_navbar navbar-link">
                  <span class="grey-nav glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <label class="grey-nav">Widgets</label>
        </a>
        <div class="navbar-text pull-right">
            <a href="widget-choose.view.client.html" class="navbar-link">
                  <span class="grey-nav glyphicon glyphicon-plus">
                  </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div  ng-repeat="widget in model.widgets">
       <div ng-switch="widget.widgetType">
            <div class="jga-toolbar">
                <a href="widget-heading.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
            </div>
           <div ng-switch-when="IMAGE">
              <img ng-src="{{widget.url}}" width="{{widget.width}}">
           </div>
           <div ng-switch-when="YOUTUBE">
               <iframe width="100%" height="100%"  ng-src="{{model.doYouTrust(widget.url)}}" frameborder="0" allowfullscreen></iframe>
           </div>
           <div ng-switch-when="HTML">
               {{widget.text}}
           </div>
       </div>
    </div>
</div>

<div class="bottom-padding"></div>

</div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#" class="navbar-link">
                <span class="grey-nav glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div class="navbar-text pull-left">
            <a href="#" class="navbar-link">
                <span class="grey-nav glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="blue-nav glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>