<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="white_navbar navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand">
            <label>Choose Widget</label>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.newHeaderWidget()" href="">Header</a>
        </li>
        <li class="list-group-item">
            <a>Label</a>
        </li>
        <li class="list-group-item">
            <a>HTML</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newTextWidget()" href="">Text Input</a>
        </li>
        <li class="list-group-item">
            <a>Link</a>
        </li>
        <li class="list-group-item">
            <a>Button</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newImageWidget()" href="">Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newYouTubeWidget()" href="">YouTube</a>
        </li>
        <li class="list-group-item">
            <a>Data Table</a>
        </li>
        <li class="list-group-item">
            <a>Repeater</a>
        </li>
    </ul>
    <div class="bottom-padding"></div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>