<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html" class="white_navbar navbar-link">
                  <span class="grey-nav glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="website-new.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widget Editor</a>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">

</div>

<nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="navbar-link">
                <span class="blue-nav glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>