<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="white_navbar navbar-link">
					  <span class="glyphicon glyphicon-chevron-left">
					  </span>
                </a>
            </div>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <label>Pages</label>
            </a>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
					  <span class=" glyphicon glyphicon-plus">
					  </span>
                </a>
            </div>
        </div>

        <div class="col-sm-8 hidden-xs">
            <a class="navbar-brand">
                <label>Edit Page</label>
            </a>

            <div class="navbar-text pull-right">
                <a href="" ng-click="model.updatePage()" class="navbar-link">
					  <span class="glyphicon glyphicon-ok">
					  </span>
                </a>
            </div>
        </div>

        <div class="col-xs-12 visible-xs">
            <div class="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <a href="page-list.view.client.html" class="white_navbar navbar-link">
					  <span class="glyphicon glyphicon-chevron-left">
					  </span>
                </a>
            </div>
            <a class="navbar-brand">
                <label>Edit Page</label>
            </a>
            <div class="navbar-text pull-right">
                <div ng-click="model.updatePage()" class="navbar-link">
					  <span class="glyphicon glyphicon-ok">
					  </span>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <ul class="list-group">
            <div ng-repeat="page in model.pages">
                <li class="list-group-item">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
                       class="page-link pull-right">
                      <span class="glyphicon glyphicon-cog">
                      </span>
                    </a>
                </li>
            </div>
        </ul>
    </div>


    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <div class="top-padding form-group">
            <label for="page-edit-web-name" class="form-control-label">Name</label>
            <input ng-model="model.page.name"
                   placeholder="Page Name"
                   id="page-edit-web-name"
                   class="form-control"
                   type="text"
                   value="Blog Post">
        </div>
        <div class="form-group">
            <label for="page-edit-web-title" class="form-control-label">Title</label>
            <input ng-model="model.page.description"
                   placeholder="Page Title"
                   id="page-edit-web-title"
                   class="form-control"
                   type="text">
        </div>
        <a ng-click="model.deletePage()" class="btn btn-danger form-control">Delete</a>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>